body{
    background-image: linear-gradient(to left, rgb(21, 34, 33), black);
}
	/* CSS Code */
	/* Heading */
	h1 {
		color: orangered;
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid rgb(161, 255, 30);
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: rgb(255, 30, 30);
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: rgb(255, 30, 30);
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: rgb(225, 255, 30);
		font-size: 17px;
	}
#b1{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b2{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b3{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b4{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b5{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b6{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b7{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b8{
    background-color: red;
    color: black;
    border:  1px solid white;
}
#b9{
    background-color: red;
    color: black;
    border:  1px solid white;
}
